html,
body,
.App,
#root {
  height: 100%; /* seriously? */
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.excalidraw .dice-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.625rem;
  width: var(--button-width, var(--default-button-size));
  height: var(--button-height, var(--default-button-size));
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: var(--button-border, var(--default-border-color));
  border-radius: var(--border-radius-lg);
  cursor: pointer;
  background-color: var(--button-bg, var(--island-bg-color));
  color: var(--button-color, var(--text-primary-color));
  background-color: var(--island-bg-color);
  width: var(--lg-button-size);
  height: var(--lg-button-size);
}

.excalidraw .dice-button:hover {
  background-color: var(--button-hover-bg);
  border-color: var(--button-hover-border, var(--default-border-color));
}
